{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/consistent-type-imports": "off"
      }
    }
  ]
}
